*{
    margin: 0px; 
    padding: 0px; 
    font-family: 'Kiwi Maru', serif;
}

body{
    font-family: 'Kiwi Maru', serif;
}

#clickbelowpage{  
    width: 100%;
    text-align: center;
    position: fixed;
    text-align: center;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(43deg, #4158D0,  #C850C0, #FFCC70);
    transition: .5s;
}

#canvasanimate{
    width: 600px;
    height: 250px;
    margin: 10px auto;
    background-color: white; 
    overflow: hidden;
    padding: 4px;
    border-radius: 10px;
    transform: scale(0.6);
}

.wavelayer{
    position: absolute;
}

.boat1{
    position: absolute;
    width: 200px;
    z-index: 2;
}

@keyframes wave1 {
    from{left: -30px}
    to {left: -60px}   
}
@keyframes wave2 {
    from   {left: 0px;}
    to  {left: -180px;}  
}

@keyframes wave3 {
    from {left: 0px}
    to {left: -180px}
}

@keyframes wave4 {
    from {left: 0px}
    to {left: -195px}
}

@keyframes boat1 {
    0%   {transform: rotate(-10deg); margin-top: 15px;}
    10%  {transform: rotate(-10deg); margin-top: 22px;}
    25%  {transform: rotate(0deg); margin-top: 30px;}
    40%  {transform: rotate(10deg); margin-top: 22px;}
    50%  {transform: rotate(10deg); margin-top: 15px;}
    60%  {transform: rotate(10deg); margin-top: 7px;}
    75%  {transform: rotate(0deg); margin-top: 0px;}
    90%  {transform: rotate(-10deg); margin-top: 7px;}
    100%  {transform: rotate(-10deg); margin-top: 15px;}

}


#downbutton{
    filter:blur(2px);
    transition-duration: .4s;
}

#downbuttondiv:hover #downbutton{
    filter:blur(0);
    animation: buttondown 1s infinite alternate-reverse ease;
}

@keyframes buttondown {
    from {margin-top: 90px;}
    to   {margin-top: 0px;}
}

.out{
    text-align: center;
    font-size: 500%;
} 