*{
    margin: 0px; 
    padding: 0px; 
    font-family: 'Kiwi Maru', serif;
}

body{
    font-family: 'Kiwi Maru', serif;
    color: green;
}

.shish {
    color: black;
    font-size: 50px;
}

.out{
    text-align: center;
    font-size: 3000%;
} 