<!DOCTYPE html>
<head>
    <title>my webpage</title>
    <link rel="stylesheet" href="style/style.css">    
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">    

</head>

<body>

    <div class="zoom out in">
        <h2>
            <text>I</text>
            <text>T</text>
            <text>S</text>
            <text> &nbsp; </text>
            <text>M</text>
            <text>E</text>
        </h2>
    </div>
    
</body>

</html>

<script>
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
</script>